*{
    margin: 0px;
    padding: 0px;
}
/* Format Top Text */
h1 {
    text-align: center;
}

/* Format button containers */
.container button {
    display: inline-block;
    position: relative;
    top: -10px;
    color: white;
    left: 25px;
    letter-spacing: 1px;
    font-family: Cambria;
    font-size: 20px;
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
}
.container button:hover {
    /*color: black;*/
    cursor: pointer;
}
.container h3 {
    display: inline-block;
    position: relative;
    top: -10px;
    color: white;
    left: 25px;
    letter-spacing: 1px;
    font-family: Cambria;
}
.container h3:hover {
    /*color: black;*/
    cursor: pointer;
}
.container {
    width: 200px;
    height: 50px;
    margin: auto;
    /*background: rgba(0,0,0,0.2);*/
    background: linear-gradient(90deg, rgba(0,0,0,0.5),rgba(0,0,0,0.1));
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 4px 5px -2px rgba(0,0,0,0.5);
    border: solid 1px rgba(0,0,0,0.4);
}
.container:hover {
    background: linear-gradient(90deg, rgba(0,0,0,0.6),rgba(0,0,0,0.2));
    
}

/* Format Images */
.container img {
    width: 40px;
    height: auto;
    display: inline-block;
    position: relative;
    left: 70px;
    top: 5px;
}

/* Format Box around Sign in buttons */
#box {
    min-width: 300px;
    max-width: 850px;
    width: 95%;
    margin: auto;
    background: rgba(0,0,0,0.05);
    padding: 20px;
}
